:root {
    --pk--color: #e5e6e7;
    --fk--color: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pk--color);
    height: 100vh;
    width: 100%;
    font-family: "TH Mali Grade 6";
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
}

#__next {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.container > div {
    height: 500px;
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    background: var(--fk--color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,.7);
}

.avatar__div {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 0 2rem 0;
    transform: translateY(-30px);
    pointer-events: none;
}

.content {
    text-align: center;
    line-height: 30px;
    color: var(--pk--color);

}

.content h2 {
    font-size: 3rem;
}

.content p {
    font-size: 1.8rem;
}

.container > div > button {
    padding: 0.5rem 1rem;
    margin: 1.5rem 0 0 0;
    background: var(--fk--color);
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px #ffffff;
    transition: 0.3s;
}

.container > div > button:hover {
    transform: scale(1.1);
    background: #e5e6e7;
    border: 1px solid #ffffff;
    color: #444444;
    box-shadow: 0 0 3px #ffffff;
    border-radius: 24px;
}

.container > div > button:active {
    transform: scale(1);
    color: tomato;
}
